<div class="container">
    <div class="headerContainer center"><h3 class="header">Calory Tracker</h3></div>
    <div class="searchBox center">
        <h5 class="searchTitle"> Search Here :- </h5>
        <input type="text" class="searchHere" placeholder="Enter food name.." [(ngModel)]="searchValue">
        <button class="clickToSearch" (click)="showSearchValues()"> Search </button>
    </div>
    <div class="newAndTodaysFoodContainer">
        <div class="newFood">
            <div class="newFoodButton"><button class="addNewFood" [(ngModel)]="addNewFood" (click)="showAddNewFood()"> Add New Food </button>
                <div class="foodDetails marginAlign" *ngIf="addNewFood">
                    <input type="text" class="foodName marginAlign" placeholder="Enter food name.." [(ngModel)]="newFoodName"><br>
                    <input type="text" class="foodCalories marginAlign" placeholder="Enter food calories.." [(ngModel)]="newFoodCalories"><br>
                    <input type="file" class="foodImage marginAlign" (change)="fetchImageUrl($event)"><br>
                    <button class="addFood marginAlign" (click)="addFood()"> Add Food </button>
                </div>
            </div>
        </div>
        <div class="todaysFood">
            <h4 class="todayFoodTitle marginAlign">Today's Foods</h4>
            <div class="todaysFoodList marginAlign">
                <ul *ngFor="let food of foods; let i = index">
                    <li> {{ food.name }} x {{ food.quantity }} </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="foodDisplay">
        <app-app-food-list (event)='reciveEvent($event)' [data]='searchValue'></app-app-food-list>
    </div>
</div>